.about {
  background: url(../img/main/services_bg.jpg) center no-repeat;
  padding-top: 50px;
  padding-bottom: 50px; }
  .about-header h1 {
    margin-bottom: 50px;
    margin-top: 0; }
  .about-slider__image {
    position: relative;
    width: 100%;
    padding-top: 75%;
    overflow: hidden; }
    .about-slider__image img {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: auto; }
  .about-slider__text h2 {
    margin: 0;
    margin-bottom: 16px;
    font-family: 'Gotham Pro Black', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 22;
    text-transform: uppercase;
    color: #f01928; }
  .about-slider__text p {
    margin: 0;
    font-family: 'Gotham Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    color: #606060; }
  .about-slider-controls {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    .about-slider-controls__arrow {
      position: relative;
      display: block;
      height: 43px;
      width: 43px;
      border: none;
      background-color: transparent;
      color: transparent;
      font-size: 6px;
      padding: 0; }
      .about-slider-controls__arrow::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 43px;
        height: 43px;
        border: 2px solid #8a8f93;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer; }
      .about-slider-controls__arrow span {
        position: relative;
        display: block; }
        .about-slider-controls__arrow span::before, .about-slider-controls__arrow span::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 14px;
          height: 2px;
          background-color: #8a8f93; }
        .about-slider-controls__arrow span::before {
          top: -13px;
          left: 50%;
          transform: translateX(-50%) rotate(-45deg); }
        .about-slider-controls__arrow span::after {
          top: -3px;
          left: 50%;
          transform: translateX(-50%) rotate(45deg); }
    .about-slider-controls__pointer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;
      cursor: pointer; }
      .about-slider-controls__pointer circle {
        fill: #f0f0f0;
        stroke: #8a8f93;
        transition: all 1s ease; }
      .about-slider-controls__pointer:hover circle, .about-slider-controls__pointer:focus circle {
        stroke: #f01928; }
    .about-slider-controls__line {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .about-slider-controls__line .slider-line {
        width: 11.15%;
        transition: all 1s ease; }

.arrow--right span::before {
  transform: translateX(-50%) rotate(45deg); }

.arrow--right span::after {
  transform: translateX(-50%) rotate(-45deg); }

.pointers-wrapper {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #8a8f93; }

.pointer--2010 {
  left: 11.15%; }
  .pointer--2010::before {
    content: '2010';
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    color: #8a8f93; }

.pointer--2011 {
  left: 19.56%; }
  .pointer--2011::before {
    content: '2011';
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    color: #8a8f93; }

.pointer--2012 {
  left: 28.27%; }
  .pointer--2012::before {
    content: '2012';
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    color: #8a8f93; }

.pointer--2016 {
  left: 60.17%; }
  .pointer--2016::before {
    content: '2016';
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    color: #8a8f93; }

.pointer--2018 {
  left: 77.98%; }
  .pointer--2018::before {
    content: '2018';
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    color: #8a8f93; }

.pointer--2020 {
  left: 90.41%; }
  .pointer--2020::before {
    content: '2020';
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    color: #8a8f93; }

.pointer--2021 {
  left: 96.96%; }
  .pointer--2021::before {
    content: '2021';
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    color: #8a8f93; }

.pointer--active circle {
  stroke: #f01928;
  fill: #f01928;
  transition: all 1s ease; }

.tour {
  border-top: 10px solid #f01928;
  border-bottom: 10px solid #f01928;
  background: url(../img/about/tour.jpg) center no-repeat;
  background-size: cover;
  min-height: 478px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }
  .tour button {
    margin-bottom: -10px;
    box-shadow: 0px 0px 16.92px 1.08px rgba(34, 31, 31, 0.85); }
