@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Light';
  src: url("../fonts/GothamPro-Light.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url("../fonts/GothamPro-Medium.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url("../fonts/GothamPro-Bold.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Black';
  src: url("../fonts/GothamPro-Black.woff");
  font-weight: normal;
  font-style: normal; }
