.gallery {
  background: url(../img/main/services_bg.jpg) center no-repeat;
  background-size: cover;
  padding-bottom: 40px; }
  .gallery__header {
    margin-top: 50px;
    margin-bottom: 50px; }
  .gallery__filter {
    margin-bottom: 26px; }
    .gallery__filter ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0; }
      .gallery__filter ul li button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
        font-size: 16px;
        color: #606060;
        text-transform: uppercase;
        padding: 10px; }
        .gallery__filter ul li button:hover {
          color: #f01928; }

.photo {
  position: relative; }
  .photo::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 0%;
    background-color: rgba(111, 11, 22, 0.5);
    opacity: 0;
    transition: all 1s ease; }
  .photo::after {
    content: attr(data-content);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    color: #ffffff;
    opacity: 0;
    transition: opacity 1s ease; }
  .photo:hover::before, .photo:hover::after {
    opacity: 1;
    transition: opacity 1s ease; }
  .photo:hover::before {
    width: 100%;
    height: 100%;
    transition: all 1s ease; }
  .photo img {
    width: 100%; }
