.price-offer {
  background: url(../img/main/services_bg.jpg) center no-repeat;
  background-size: cover;
  padding-bottom: 74px; }
  .price-offer__header {
    margin-top: 50px;
    margin-bottom: 50px; }
  .price-offer__content {
    margin-top: 0;
    margin-bottom: 26px;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Gotham Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    color: #606060; }

.offer {
  background-color: #343434;
  color: #ffffff;
  text-align: center;
  min-height: 392px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 10px 3px rgba(52, 52, 52, 0.3); }
  @media (max-width: 767px) {
    .offer {
      margin-bottom: 40px; } }
  .offer__title {
    margin: 0;
    font-family: 'Gotham Pro Bold', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 55px;
    text-transform: uppercase;
    border-bottom: 2px solid #575757;
    position: relative;
    padding-bottom: 15px; }
    .offer__title-currency {
      font-size: 30px;
      position: absolute;
      top: -10px;
      right: 20%; }
      @media (max-width: 991px) {
        .offer__title-currency {
          right: 10%; } }
      @media (max-width: 767px) {
        .offer__title-currency {
          right: 33%; } }
      @media (max-width: 575px) {
        .offer__title-currency {
          right: 20%; } }
    .offer__title-period {
      display: block;
      font-size: 16px; }
  .offer__subtitle {
    margin: 0;
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: 2px solid #575757; }
  .offer__button {
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    width: 184px;
    min-height: 36px;
    margin: 0 auto;
    margin-bottom: -12px; }

.price-discount {
  background-color: #f01928;
  padding-top: 40px;
  padding-bottom: 40px; }
  @media (max-width: 767px) {
    .price-discount {
      display: none; } }

.discount {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .discount-percent {
    position: relative;
    width: 210px;
    height: 210px; }
    .discount-percent .ten {
      position: relative;
      width: 210px;
      height: 210px;
      transform: rotate(90deg); }
      .discount-percent .ten circle {
        fill: none;
        stroke-width: 16;
        stroke: #ffffff;
        transform: translate(5px, 5px);
        stroke-dasharray: 565.48;
        stroke-dashoffset: 0; }
        .discount-percent .ten circle:nth-child(1) {
          stroke-dashoffset: 0;
          stroke: #ff5763; }
        .discount-percent .ten circle:nth-child(2) {
          stroke-dashoffset: 514.5868;
          stroke: #ffffff; }
    .discount-percent .sixty {
      position: relative;
      width: 210px;
      height: 210px;
      transform: rotate(90deg); }
      .discount-percent .sixty circle {
        fill: none;
        stroke-width: 16;
        stroke: #ffffff;
        transform: translate(5px, 5px);
        stroke-dasharray: 565.48;
        stroke-dashoffset: 0; }
        .discount-percent .sixty circle:nth-child(1) {
          stroke-dashoffset: 0;
          stroke: #ff5763; }
        .discount-percent .sixty circle:nth-child(2) {
          stroke-dashoffset: 231.8468;
          stroke: #ffffff; }
    .discount-percent .thirty {
      position: relative;
      width: 210px;
      height: 210px;
      transform: rotate(90deg); }
      .discount-percent .thirty circle {
        fill: none;
        stroke-width: 16;
        stroke: #ffffff;
        transform: translate(5px, 5px);
        stroke-dasharray: 565.48;
        stroke-dashoffset: 0; }
        .discount-percent .thirty circle:nth-child(1) {
          stroke-dashoffset: 0;
          stroke: #ff5763; }
        .discount-percent .thirty circle:nth-child(2) {
          stroke-dashoffset: 401.4908;
          stroke: #ffffff; }
    .discount-percent__number {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-size: 56px;
      font-family: 'Gotham Pro Black', Arial, Helvetica, 'Nimbus Sans L', sans-serif; }
      .discount-percent__number span {
        font-size: 36px; }
  .discount-period {
    margin: 0;
    padding: 20px 0 0;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Gotham Pro Black', Arial, Helvetica, 'Nimbus Sans L', sans-serif; }
