@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Light';
  src: url("../fonts/GothamPro-Light.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url("../fonts/GothamPro-Medium.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url("../fonts/GothamPro-Bold.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Black';
  src: url("../fonts/GothamPro-Black.woff");
  font-weight: normal;
  font-style: normal; }

.slide {
  position: relative;
  height: 750px; }
  @media (max-width: 575.98px) {
    .slide {
      height: 420px; } }
  .slide-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0; }
  .slide-info {
    position: relative;
    z-index: 1;
    padding-left: 60px;
    height: 100%; }
    @media (max-width: 575.98px) {
      .slide-info {
        padding-left: 0;
        min-height: 413px; } }
    .slide-info-title {
      margin: 0;
      padding: 0;
      padding-top: 90px;
      font-family: 'Gotham Pro Bold', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
      font-size: 140px;
      line-height: 0.984;
      letter-spacing: -10px;
      color: #f01928;
      text-transform: uppercase;
      text-shadow: 8.918px 8.03px 1px rgba(34, 31, 31, 0.36);
      max-width: 704px; }
      @media (max-width: 1199.98px) {
        .slide-info-title {
          font-size: 120px;
          padding-top: 70px;
          letter-spacing: 0; } }
      @media (max-width: 767.98px) {
        .slide-info-title {
          font-size: 65px;
          max-width: 320px; } }
      @media (max-width: 575.98px) {
        .slide-info-title {
          max-width: 100%; } }
    .slide-info-subtitle {
      margin: 0;
      padding: 0;
      padding-left: 10px;
      margin-top: 45px;
      color: #ffffff;
      font-family: 'Gotham Pro Bold', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
      font-size: 20px;
      max-width: 350px; }
      @media (max-width: 575.98px) {
        .slide-info-subtitle {
          padding-left: 0;
          max-width: 100%; } }
      .slide-info-subtitle a {
        text-decoration: none;
        color: #f01928; }
    .slide-info-button {
      margin-top: 75px;
      margin-left: 10px;
      margin-bottom: 115px;
      width: 352px;
      height: 57px;
      background-color: #f01928;
      box-shadow: 0 6px 0 #ca0d1a;
      cursor: pointer; }
      @media (max-width: 575.98px) {
        .slide-info-button {
          display: none; } }

.slide--runner {
  background: url(../img/main/landing-slider-img.jpg) center no-repeat;
  background-size: cover; }
  @media (max-width: 575.98px) {
    .slide--runner {
      background-position: -400px; } }

.service-formula {
  padding-left: 34px;
  padding-right: 150px;
  padding-top: 135px;
  padding-bottom: 50px;
  background: url(../img/main/services/formula.jpg) center no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 9.7px 0.3px rgba(37, 37, 37, 0.47);
  position: relative;
  z-index: 1; }
  @media (max-width: 1199.98px) {
    .service-formula {
      padding-left: 10px;
      padding-right: 70px; } }
  @media (max-width: 767.98px) {
    .service-formula {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 575.98px) {
    .service-formula {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 20px;
      padding-bottom: 30px; } }
  .service-formula-description {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 24px 20px; }
    .service-formula-description__header {
      margin: 0;
      padding: 0;
      max-width: 280px;
      margin-bottom: 15px;
      font-family: 'Gotham Pro Black', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
      font-size: 24px;
      color: #f01928;
      text-transform: uppercase; }
    .service-formula-description__text {
      margin: 0;
      padding: 0;
      font-family: 'Gotham Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
      font-size: 16px;
      line-height: 1.2;
      color: #606060; }
  .service-formula-button {
    margin-top: 60px;
    min-width: 184px;
    height: 36px;
    font-size: 18px; }
    @media (max-width: 767.98px), (max-width: 575.98px) {
      .service-formula-button {
        display: block;
        margin: 20px auto 0 auto; } }

.service-schedule {
  flex-basis: 50%;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url(../img/main/services/schedule.jpg) center no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 9.7px 0.3px rgba(37, 37, 37, 0.47);
  position: relative;
  z-index: 1; }
  @media (max-width: 767.98px) {
    .service-schedule {
      min-height: 300px; } }
  @media (max-width: 575.98px) {
    .service-schedule {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 0; } }
  .service-schedule-description {
    text-align: left; }
    .service-schedule-description__header {
      margin: 0;
      padding: 0;
      padding-top: 20px;
      padding-left: 20px;
      font-family: 'Gotham Pro Black', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
      font-size: 24px;
      color: #f01928;
      text-transform: uppercase; }
      @media (max-width: 1199.98px) {
        .service-schedule-description__header {
          padding-left: 10px;
          padding-right: 10px; } }
  .service-schedule-button {
    margin-bottom: 30px;
    min-width: 184px;
    height: 36px;
    font-size: 18px; }

.service-price {
  flex-basis: 50%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url(../img/main/services/price.jpg) center no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 9.7px 0.3px rgba(37, 37, 37, 0.47);
  position: relative;
  z-index: 1; }
  @media (max-width: 767.98px) {
    .service-price {
      min-height: 300px; } }
  @media (max-width: 575.98px) {
    .service-price {
      flex-basis: 100%;
      margin-left: 0;
      margin-bottom: 0;
      text-align: center; } }
  .service-price-description {
    width: 100%; }
    .service-price-description__header {
      margin: 0;
      padding: 0;
      padding-left: 20px;
      padding-top: 20px;
      margin-bottom: 10px;
      font-family: 'Gotham Pro Black', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
      font-size: 24px;
      color: #f01928;
      text-transform: uppercase; }
      @media (max-width: 1199.98px) {
        .service-price-description__header {
          padding-left: 10px;
          color: #ffffff; } }
    .service-price-description__text {
      margin: 0;
      padding: 0;
      padding-left: 20px;
      font-family: 'Gotham Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
      font-size: 16px;
      line-height: 1.2;
      color: #ffffff; }
      @media (max-width: 1199.98px) {
        .service-price-description__text {
          padding-left: 10px; } }
  .service-price-button {
    margin-bottom: 30px;
    min-width: 184px;
    height: 36px;
    font-size: 18px; }

.service-tour {
  flex-basis: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: url(../img/main/services/gym-tour.jpg) center no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 9.7px 0.3px rgba(37, 37, 37, 0.47);
  position: relative;
  z-index: 1; }
  @media (max-width: 767.98px) {
    .service-tour {
      width: 100%;
      min-height: 300px; } }

.prev-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  z-index: 999;
  height: 56px;
  width: 20px;
  background-color: transparent;
  padding: 0;
  border: none;
  text-decoration: none;
  cursor: pointer; }
  .prev-slide:focus {
    outline: none; }
  .prev-slide::before, .prev-slide::after {
    content: '';
    position: absolute;
    top: 14px;
    left: -6px;
    width: 30px;
    height: 2px;
    background-color: #c2c2c2;
    transform: rotate(-60deg); }
  .prev-slide::after {
    content: '';
    position: absolute;
    top: 39px;
    left: -6px;
    width: 30px;
    height: 2px;
    background-color: #c2c2c2;
    transform: rotate(60deg); }

.next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 999;
  height: 56px;
  width: 20px;
  background-color: transparent;
  padding: 0;
  border: none;
  text-decoration: none;
  cursor: pointer; }
  .next-slide:focus {
    outline: none; }
  .next-slide::before, .next-slide::after {
    content: '';
    position: absolute;
    top: 14px;
    right: -6px;
    width: 30px;
    height: 2px;
    background-color: #c2c2c2;
    transform: rotate(60deg); }
  .next-slide::after {
    content: '';
    position: absolute;
    top: 39px;
    right: -6px;
    width: 30px;
    height: 2px;
    background-color: #c2c2c2;
    transform: rotate(-60deg); }

.slick-dots {
  bottom: 20px;
  cursor: pointer;
  z-index: 2; }
  .slick-dots li {
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #ffffff;
    height: 12px;
    width: 12px; }
  .slick-dots button {
    cursor: none; }

.slick-dots li button:before {
  color: #ffffff;
  height: 12px;
  width: 12px;
  font-size: 0; }

.slick-dots li.slick-active {
  color: #ffffff;
  background-color: #ffffff; }

.price-offer {
  background: url(../img/main/services_bg.jpg) center no-repeat;
  background-size: cover;
  padding-bottom: 74px; }
  .price-offer__header {
    margin-top: 50px;
    margin-bottom: 50px; }
  .price-offer__content {
    margin-top: 0;
    margin-bottom: 26px;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Gotham Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    color: #606060; }

.offer {
  background-color: #343434;
  color: #ffffff;
  text-align: center;
  min-height: 392px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 10px 3px rgba(52, 52, 52, 0.3); }
  @media (max-width: 767px) {
    .offer {
      margin-bottom: 40px; } }
  .offer__title {
    margin: 0;
    font-family: 'Gotham Pro Bold', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 55px;
    text-transform: uppercase;
    border-bottom: 2px solid #575757;
    position: relative;
    padding-bottom: 15px; }
    .offer__title-currency {
      font-size: 30px;
      position: absolute;
      top: -10px;
      right: 20%; }
      @media (max-width: 991px) {
        .offer__title-currency {
          right: 10%; } }
      @media (max-width: 767px) {
        .offer__title-currency {
          right: 33%; } }
      @media (max-width: 575px) {
        .offer__title-currency {
          right: 20%; } }
    .offer__title-period {
      display: block;
      font-size: 16px; }
  .offer__subtitle {
    margin: 0;
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: 2px solid #575757; }
  .offer__button {
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    width: 184px;
    min-height: 36px;
    margin: 0 auto;
    margin-bottom: -12px; }

.price-discount {
  background-color: #f01928;
  padding-top: 40px;
  padding-bottom: 40px; }
  @media (max-width: 767px) {
    .price-discount {
      display: none; } }

.discount {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .discount-percent {
    position: relative;
    width: 210px;
    height: 210px; }
    .discount-percent .ten {
      position: relative;
      width: 210px;
      height: 210px;
      transform: rotate(90deg); }
      .discount-percent .ten circle {
        fill: none;
        stroke-width: 16;
        stroke: #ffffff;
        transform: translate(5px, 5px);
        stroke-dasharray: 565.48;
        stroke-dashoffset: 0; }
        .discount-percent .ten circle:nth-child(1) {
          stroke-dashoffset: 0;
          stroke: #ff5763; }
        .discount-percent .ten circle:nth-child(2) {
          stroke-dashoffset: 514.5868;
          stroke: #ffffff; }
    .discount-percent .sixty {
      position: relative;
      width: 210px;
      height: 210px;
      transform: rotate(90deg); }
      .discount-percent .sixty circle {
        fill: none;
        stroke-width: 16;
        stroke: #ffffff;
        transform: translate(5px, 5px);
        stroke-dasharray: 565.48;
        stroke-dashoffset: 0; }
        .discount-percent .sixty circle:nth-child(1) {
          stroke-dashoffset: 0;
          stroke: #ff5763; }
        .discount-percent .sixty circle:nth-child(2) {
          stroke-dashoffset: 231.8468;
          stroke: #ffffff; }
    .discount-percent .thirty {
      position: relative;
      width: 210px;
      height: 210px;
      transform: rotate(90deg); }
      .discount-percent .thirty circle {
        fill: none;
        stroke-width: 16;
        stroke: #ffffff;
        transform: translate(5px, 5px);
        stroke-dasharray: 565.48;
        stroke-dashoffset: 0; }
        .discount-percent .thirty circle:nth-child(1) {
          stroke-dashoffset: 0;
          stroke: #ff5763; }
        .discount-percent .thirty circle:nth-child(2) {
          stroke-dashoffset: 401.4908;
          stroke: #ffffff; }
    .discount-percent__number {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-size: 56px;
      font-family: 'Gotham Pro Black', Arial, Helvetica, 'Nimbus Sans L', sans-serif; }
      .discount-percent__number span {
        font-size: 36px; }
  .discount-period {
    margin: 0;
    padding: 20px 0 0;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Gotham Pro Black', Arial, Helvetica, 'Nimbus Sans L', sans-serif; }

.gallery {
  background: url(../img/main/services_bg.jpg) center no-repeat;
  background-size: cover;
  padding-bottom: 40px; }
  .gallery__header {
    margin-top: 50px;
    margin-bottom: 50px; }
  .gallery__filter {
    margin-bottom: 26px; }
    .gallery__filter ul {
      list-style: none;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      margin: 0;
      padding: 0; }
      @media (max-width: 768px) {
        .gallery__filter ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-direction: column;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center; } }
      .gallery__filter ul li button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
        font-size: 16px;
        color: #606060;
        text-transform: uppercase;
        padding: 0; }
        .gallery__filter ul li button:hover {
          color: #f01928; }

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none; } }

.photo {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .photo::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0%;
    height: 0%;
    background-color: rgba(111, 11, 22, 0.5);
    opacity: 0;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
  .photo::after {
    content: attr(data-content);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    color: #ffffff;
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease; }
  .photo:hover::before, .photo:hover::after {
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease; }
  .photo:hover::before {
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
  .photo:hover::after {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s; }
  .photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }

.about {
  background: url(../img/main/services_bg.jpg) center no-repeat;
  padding-top: 50px;
  padding-bottom: 50px; }
  .about-header h1 {
    margin-bottom: 50px;
    margin-top: 0; }
  .about-slider__image {
    position: relative;
    width: 100%;
    padding-top: 75%;
    overflow: hidden; }
    .about-slider__image img {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: auto; }
  .about-slider__text h2 {
    margin: 0;
    margin-bottom: 16px;
    font-family: 'Gotham Pro Black', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 22;
    text-transform: uppercase;
    color: #f01928; }
  .about-slider__text p {
    margin: 0;
    font-family: 'Gotham Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    color: #606060; }
  .about-slider-controls {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    .about-slider-controls__arrow {
      position: relative;
      display: block;
      height: 43px;
      width: 43px;
      border: none;
      background-color: transparent;
      color: transparent;
      font-size: 6px;
      padding: 0; }
      .about-slider-controls__arrow::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 43px;
        height: 43px;
        border: 2px solid #8a8f93;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer; }
      .about-slider-controls__arrow span {
        position: relative;
        display: block; }
        .about-slider-controls__arrow span::before, .about-slider-controls__arrow span::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 14px;
          height: 2px;
          background-color: #8a8f93; }
        .about-slider-controls__arrow span::before {
          top: -13px;
          left: 50%;
          transform: translateX(-50%) rotate(-45deg); }
        .about-slider-controls__arrow span::after {
          top: -3px;
          left: 50%;
          transform: translateX(-50%) rotate(45deg); }
    .about-slider-controls__pointer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;
      cursor: pointer; }
      .about-slider-controls__pointer circle {
        fill: #f0f0f0;
        stroke: #8a8f93;
        transition: all 1s ease; }
      .about-slider-controls__pointer:hover circle, .about-slider-controls__pointer:focus circle {
        stroke: #f01928; }
    .about-slider-controls__line {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .about-slider-controls__line .slider-line {
        width: 11.15%;
        transition: all 1s ease; }

.arrow--right span::before {
  transform: translateX(-50%) rotate(45deg); }

.arrow--right span::after {
  transform: translateX(-50%) rotate(-45deg); }

.pointers-wrapper {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #8a8f93; }

.pointer--2010 {
  left: 11.15%; }
  .pointer--2010::before {
    content: '2010';
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    color: #8a8f93; }

.pointer--2011 {
  left: 19.56%; }
  .pointer--2011::before {
    content: '2011';
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    color: #8a8f93; }

.pointer--2012 {
  left: 28.27%; }
  .pointer--2012::before {
    content: '2012';
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    color: #8a8f93; }

.pointer--2016 {
  left: 60.17%; }
  .pointer--2016::before {
    content: '2016';
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    color: #8a8f93; }

.pointer--2018 {
  left: 77.98%; }
  .pointer--2018::before {
    content: '2018';
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    color: #8a8f93; }

.pointer--2020 {
  left: 90.41%; }
  .pointer--2020::before {
    content: '2020';
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    color: #8a8f93; }

.pointer--2021 {
  left: 96.96%; }
  .pointer--2021::before {
    content: '2021';
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    color: #8a8f93; }

.pointer--active circle {
  stroke: #f01928;
  fill: #f01928;
  transition: all 1s ease; }

.tour {
  border-top: 10px solid #f01928;
  border-bottom: 10px solid #f01928;
  background: url(../img/about/tour.jpg) center no-repeat;
  background-size: cover;
  min-height: 478px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }
  .tour button {
    margin-bottom: -10px;
    box-shadow: 0px 0px 16.92px 1.08px rgba(34, 31, 31, 0.85); }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #dedede; }

.container-main {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto; }

.main-button {
  border: none;
  border-radius: 25px;
  color: #ffffff;
  font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba(34, 31, 31, 0.75);
  background-color: #f01928;
  box-shadow: 0 6px 0 #ca0d1a; }
  .main-button:hover, .main-button:focus {
    background-color: #630460;
    box-shadow: 0 6px 0 #41033f; }

.alt-button {
  border: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: #ffffff;
  font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 22px;
  text-shadow: 0px 1px 1px rgba(34, 31, 31, 0.75);
  width: 276px;
  height: 60px;
  background-color: #f01928; }
  .alt-button:hover, .alt-button:focus {
    background-color: #630460; }

.main-header {
  text-align: center;
  font-family: 'Gotham Pro Bold', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 31px;
  text-transform: uppercase;
  position: relative; }
  .main-header::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    height: 6px;
    width: 96px;
    background-color: #f01928; }

.header {
  background: url(../img/main/header_bg.png) center no-repeat;
  background-color: #dedede;
  position: relative;
  z-index: 5; }
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px; }
    @media (max-width: 575.98px) {
      .header-wrapper {
        justify-content: center; } }
  .header-logo {
    max-width: 432px; }
    .header-logo__desktop {
      width: 100%; }
      @media (max-width: 767.98px) {
        .header-logo__desktop {
          display: none; } }
    .header-logo__mobile {
      display: none; }
      @media (max-width: 767.98px) {
        .header-logo__mobile {
          display: block;
          width: 100%; } }
  .header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px; }
    @media (max-width: 575.98px) {
      .header-info {
        display: none; } }
    .header-info-schedule {
      flex-shrink: 0;
      font-family: 'Gotham Pro Bold', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
      font-size: 22px;
      text-transform: uppercase;
      color: #8a8f93;
      position: relative; }
      @media (max-width: 1199.98px) {
        .header-info-schedule {
          font-size: 20px; } }
      @media (max-width: 970.98px) {
        .header-info-schedule {
          font-size: 18px; } }
      .header-info-schedule p {
        margin: 0;
        padding: 0; }
        .header-info-schedule p::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -105px;
          height: 3px;
          width: 85px;
          background-color: #f01928;
          transform: rotate(-60deg); }
          @media (max-width: 1199.98px) {
            .header-info-schedule p::before {
              left: -75px; } }
        .header-info-schedule p::after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -85px;
          height: 3px;
          width: 85px;
          background-color: #f01928;
          transform: rotate(-60deg); }
          @media (max-width: 1199.98px) {
            .header-info-schedule p::after {
              right: -50px; } }
    .header-info-phone {
      font-family: 'Gotham Pro Bold', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
      font-size: 22px;
      text-transform: uppercase;
      color: #8a8f93;
      text-align: right;
      margin-left: 70px; }
      @media (max-width: 1199.98px) {
        .header-info-phone {
          font-size: 20px; } }
      @media (max-width: 970.98px) {
        .header-info-phone {
          margin-left: 30px;
          font-size: 18px; } }
      .header-info-phone p {
        margin: 0;
        padding: 0; }
      .header-info-phone a {
        text-decoration: none;
        color: #f01928;
        font-size: 35px; }
        @media (max-width: 1199.98px) {
          .header-info-phone a {
            font-size: 28px; } }
        @media (max-width: 970.98px) {
          .header-info-phone a {
            font-size: 22px; } }
  .header-mobile-menu {
    display: none;
    position: relative; }
    @media (max-width: 970.98px), (max-width: 767.98px), (max-width: 575.98px) {
      .header-mobile-menu {
        display: block; } }
    @media (max-width: 575.98px) {
      .header-mobile-menu {
        position: absolute;
        left: 15px; } }
    .header-mobile-menu button {
      position: relative;
      z-index: 2;
      width: 51px;
      height: 43px;
      border: none;
      color: transparent;
      background-color: transparent;
      cursor: pointer; }
      .header-mobile-menu button::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 9px;
        width: 51px;
        background-color: #8a8f93;
        border-radius: 3px; }
      .header-mobile-menu button::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 9px;
        width: 51px;
        background-color: #8a8f93;
        border-radius: 3px; }
    .header-mobile-menu span {
      position: relative; }
      .header-mobile-menu span::before {
        content: '';
        position: absolute;
        left: -51px;
        top: 10px;
        height: 9px;
        width: 51px;
        background-color: #8a8f93;
        border-radius: 3px; }
  .header-mobile-menu--active button::before {
    background-color: #f01928; }
  .header-mobile-menu--active button::after {
    background-color: #f01928; }
  .header-mobile-menu--active span::before {
    background-color: #f01928; }

.nav {
  display: block;
  background-color: #dedede; }
  @media (max-width: 970.98px), (max-width: 767.98px), (max-width: 575.98px) {
    .nav {
      display: none;
      height: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
      background: url(../img/main/header_bg.png) center no-repeat;
      background-size: cover;
      background-color: #dedede; } }
  .nav--active {
    display: block;
    height: 259px; }
  .nav-menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0; }
    @media (max-width: 970.98px), (max-width: 767.98px), (max-width: 575.98px) {
      .nav-menu ul {
        flex-direction: column; } }
    .nav-menu ul li {
      text-align: center;
      cursor: pointer; }
      @media (max-width: 970.98px), (max-width: 767.98px), (max-width: 575.98px) {
        .nav-menu ul li {
          cursor: auto;
          text-align: left;
          border-bottom: 1px solid #8a8f93; }
          .nav-menu ul li:last-child {
            border: none; } }
      .nav-menu ul li a {
        display: inline-block;
        font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
        text-decoration: none;
        color: #8a8f93;
        font-size: 16px;
        text-transform: uppercase;
        padding: 24px 10px; }
        @media (max-width: 1199.98px) {
          .nav-menu ul li a {
            font-size: 14px;
            padding: 24px 10px; } }
        @media (max-width: 970.98px), (max-width: 767.98px), (max-width: 575.98px) {
          .nav-menu ul li a {
            padding: 10px 10px;
            width: 100%;
            cursor: default; } }
      .nav-menu ul li:hover {
        background-color: #f01928; }
        @media (max-width: 970.98px), (max-width: 767.98px), (max-width: 575.98px) {
          .nav-menu ul li:hover {
            background-color: transparent; } }
        .nav-menu ul li:hover a {
          color: #ffffff; }
          @media (max-width: 970.98px), (max-width: 767.98px), (max-width: 575.98px) {
            .nav-menu ul li:hover a {
              color: #f01928; } }

.landing-slider {
  position: relative; }

.services {
  background: url(../img/main/services_bg.jpg) center no-repeat;
  background-size: cover;
  padding-top: 48px;
  padding-bottom: 50px;
  margin-top: -20px; }
  @media (max-width: 575.98px) {
    .services {
      padding-top: 0;
      padding-bottom: 0;
      margin-left: -15px;
      margin-right: -15px;
      margin-top: -30px; } }
  .services-wrapper {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767.98px) {
      .services-wrapper {
        flex-wrap: wrap;
        justify-content: center; } }
  .services-left {
    flex-basis: 50%;
    margin-right: 15px;
    position: relative; }
    @media (max-width: 767.98px) {
      .services-left {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 20px; } }
    @media (max-width: 575.98px) {
      .services-left {
        margin-bottom: 0; } }
  .services-right {
    flex-basis: 50%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (max-width: 767.98px) {
      .services-right {
        flex-basis: 100%;
        margin-left: 0; } }
    .services-right-top {
      display: flex;
      justify-content: space-between;
      flex-basis: 50%;
      margin-bottom: 15px; }
      @media (max-width: 767.98px) {
        .services-right-top {
          flex-basis: 100%;
          margin-right: 0;
          margin-bottom: 20px; } }
      @media (max-width: 575.98px) {
        .services-right-top {
          flex-wrap: wrap;
          justify-content: center;
          margin-bottom: 0; } }
    .services-right-bottom {
      flex-basis: 50%;
      margin-top: 15px; }
      @media (max-width: 767.98px) {
        .services-right-bottom {
          flex-basis: 100%;
          margin-top: 0; } }

.features {
  padding-top: 40px;
  background: url(../img/main/features_bg.jpg) center no-repeat;
  background-size: cover;
  position: relative; }
  .features-wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative; }
  .features-frame {
    position: absolute;
    right: 15px;
    top: -25px;
    user-select: none; }
    .features-frame img {
      width: 680px;
      height: 625px; }
    @media (max-width: 1199.98px) {
      .features-frame img {
        height: 760px;
        width: 570px; } }
    @media (max-width: 767.98px) {
      .features-frame img {
        height: 890px;
        width: 500px; } }
    @media (max-width: 575.98px) {
      .features-frame {
        display: none; } }
  .features-underlay {
    position: absolute;
    z-index: 0;
    top: -80px;
    right: 40px;
    user-select: none; }
    @media (max-width: 575.98px) {
      .features-underlay {
        right: 0; }
        .features-underlay img {
          width: 320px; } }
  .features__header {
    margin: 0;
    margin-bottom: 70px; }
    @media (max-width: 575.98px) {
      .features__header {
        margin-bottom: 0px; } }
  .features-content {
    margin-bottom: 60px; }
    @media (max-width: 575.98px) {
      .features-content {
        max-width: 100%; } }
    .features-content__item {
      position: relative;
      max-width: 520px;
      right: 18px; }
      .features-content__item:nth-child(2) {
        right: 65px; }
        @media (max-width: 575.98px) {
          .features-content__item:nth-child(2) {
            right: 0; } }
      .features-content__item:nth-child(1) {
        right: 90px; }
        @media (max-width: 575.98px) {
          .features-content__item:nth-child(1) {
            right: 0; } }
      @media (max-width: 1199.98px) {
        .features-content__item {
          max-width: 420px; } }
      @media (max-width: 767.98px) {
        .features-content__item {
          max-width: 350px; } }
      @media (max-width: 575.98px) {
        .features-content__item {
          max-width: 100%;
          right: 0;
          text-align: center; } }
      .features-content__item h3 {
        margin: 0;
        margin-bottom: 12px;
        font-family: 'Gotham Pro Black', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
        font-size: 21px;
        text-transform: uppercase;
        line-height: 1.2;
        color: #f01928; }
        @media (max-width: 575.98px) {
          .features-content__item h3 {
            margin-top: 160px;
            font-size: 20px; } }
      .features-content__item p {
        margin: 0;
        margin-bottom: 20px;
        font-family: 'Gotham Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
        font-size: 16px;
        line-height: 1.2;
        color: #606060;
        letter-spacing: 0.5px; }

.feature--medal h3::before {
  content: '';
  position: absolute;
  left: -124px;
  top: 9px;
  width: 100px;
  height: 100px;
  background: url(../img/main/features/medal.png) center no-repeat; }
  @media (max-width: 575.98px) {
    .feature--medal h3::before {
      left: 50%;
      transform: translateX(-50%);
      top: -120px; } }

.feature--notepad h3::before {
  content: '';
  position: absolute;
  left: -113px;
  top: 9px;
  width: 100px;
  height: 100px;
  background: url(../img/main/features/notepad.png) center no-repeat; }
  @media (max-width: 575.98px) {
    .feature--notepad h3::before {
      left: 50%;
      transform: translateX(-50%);
      top: -120px; } }

.feature--strength h3::before {
  content: '';
  position: absolute;
  left: -121px;
  top: 10px;
  width: 100px;
  height: 100px;
  background: url(../img/main/features/strength.png) center no-repeat; }
  @media (max-width: 575.98px) {
    .feature--strength h3::before {
      left: 50%;
      transform: translateX(-50%);
      top: -120px; } }

.news {
  padding-top: 42px;
  background: url(../img/main/news/news_bg.jpg) top no-repeat;
  background-size: cover;
  position: relative; }
  .news-logo-overlay {
    position: absolute;
    top: -117px;
    right: 0;
    opacity: 0.17;
    user-select: none; }
    @media (max-width: 1199.98px) {
      .news-logo-overlay {
        top: -90px; }
        .news-logo-overlay img {
          height: 180px; } }
    @media (max-width: 970.98px) {
      .news-logo-overlay {
        top: -70px; }
        .news-logo-overlay img {
          height: 140px; } }
    @media (max-width: 767.98px) {
      .news-logo-overlay {
        top: -50px; }
        .news-logo-overlay img {
          height: 100px; } }
    @media (max-width: 575.98px) {
      .news-logo-overlay {
        display: none; } }
  .news__header {
    margin: 0;
    margin-bottom: 48px;
    z-index: 1; }
  .news-wrapper {
    max-width: 1005px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
  .news-item {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    position: relative; }
    @media (max-width: 575.98px) {
      .news-item {
        flex-wrap: wrap;
        border: 2px solid #8a8f93;
        padding-bottom: 15px;
        margin-bottom: 30px; } }
    .news-item__img {
      flex-basis: 50%;
      max-width: 100%;
      position: relative; }
      @media (max-width: 575.98px) {
        .news-item__img {
          flex-basis: 100%;
          border-bottom: 2px solid #8a8f93;
          order: -2; } }
      .news-item__img img {
        object-fit: cover;
        object-position: center;
        max-width: 100%;
        min-height: 100%;
        border: 2px solid #8a8f93; }
        .news-item__img img:hover {
          border: 2px solid #630460; }
        @media (max-width: 575.98px) {
          .news-item__img img {
            border: none;
            width: 100%; }
            .news-item__img img:hover {
              border: none; } }
    .news-item__separator {
      flex-shrink: 0;
      display: flex;
      margin-bottom: -30px; }
      @media (max-width: 575.98px) {
        .news-item__separator {
          display: none; } }
      .news-item__separator-left {
        width: 39px;
        height: 100%; }
      .news-item__separator-right {
        width: 39px;
        height: 100%;
        border-left: 2px solid #8a8f93; }
    .news-item__description {
      flex-basis: 50%;
      flex-shrink: 1; }
      @media (max-width: 575.98px) {
        .news-item__description {
          flex-basis: 100%; } }
      .news-item__description:nth-child(1) {
        text-align: right; }
        @media (max-width: 575.98px) {
          .news-item__description:nth-child(1) {
            text-align: left; } }
      .news-item__description--desktop {
        display: inline-block;
        margin-bottom: 10px;
        font-family: 'Gotham Pro Black', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
        text-transform: uppercase;
        font-size: 21px;
        color: #f01928;
        text-decoration: none; }
        @media (max-width: 575.98px) {
          .news-item__description--desktop {
            display: block;
            border-top: 2px solid #8a8f93;
            padding: 10px; } }
        .news-item__description--desktop:hover {
          cursor: pointer;
          color: #630460;
          text-decoration: underline; }
      .news-item__description--mobile {
        margin-top: 15px;
        margin-right: 15px;
        text-align: right;
        font-family: 'Gotham Pro Bold', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
        font-size: 18px;
        color: #474747;
        text-transform: uppercase; }
        .news-item__description--mobile:hover, .news-item__description--mobile:focus {
          color: #630460; }
        @media (min-width: 1200px), (max-width: 1199.98px), (max-width: 970.98px), (max-width: 767.98px) {
          .news-item__description--mobile {
            display: none; } }
        @media (max-width: 575.98px) {
          .news-item__description--mobile {
            display: block; } }
      .news-item__description p {
        margin: 0;
        font-family: 'Gotham Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
        font-size: 16px;
        color: #606060; }
        @media (max-width: 575.98px) {
          .news-item__description p {
            padding: 10px; } }
      .news-item__description span {
        font-family: 'Gotham Pro Light', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
        font-size: 14px;
        color: #474747; }
        @media (max-width: 575.98px) {
          .news-item__description span {
            display: inline-block;
            padding: 10px; } }
    .news-item__pointer {
      position: absolute;
      z-index: 5;
      top: 0px;
      left: 50%;
      transform: translateX(-9px); }
      @media (max-width: 575.98px) {
        .news-item__pointer {
          display: none; } }
  .news-finisher {
    margin: 0 auto;
    margin-bottom: 50px; }
    @media (max-width: 575.98px) {
      .news-finisher {
        display: none; } }

.pointer--selected {
  top: 17px; }
  .pointer--selected circle {
    fill: #630460;
    stroke: #630460; }

.item--selected::before {
  display: block;
  content: '';
  position: absolute;
  top: 10px;
  left: -39px;
  border: 15px solid transparent;
  border-right: 25px solid #630460; }
  @media (max-width: 575.98px) {
    .item--selected::before {
      display: none; } }

.item--selected img {
  border: 2px solid #630460; }
  @media (max-width: 575.98px) {
    .item--selected img {
      border: none; } }

.footer {
  min-height: 416px;
  background: url(../img/main/footer/footer_bg.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .footer-header {
    margin-top: 50px;
    color: #ffffff;
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 18px; }
  .footer-social {
    min-width: 546px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    @media (max-width: 575.98px) {
      .footer-social {
        min-width: 320px;
        padding-left: 15px;
        padding-right: 15px;
        flex-wrap: wrap; } }
    .footer-social a {
      display: inline-block;
      text-decoration: none;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      position: relative; }
      @media (max-width: 575.98px) {
        .footer-social a {
          flex-basis: 25%;
          margin-bottom: 15px; } }
      .footer-social a svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 52px;
        height: 52px; }
        .footer-social a svg path {
          fill: #606060; }
        .footer-social a svg polygon {
          fill: #606060; }
        .footer-social a svg:hover path {
          fill: #f01928; }
        .footer-social a svg:hover polygon {
          fill: #f01928; }
  @media (max-width: 575.98px) {
    .footer-logo__desktop {
      display: none; } }
  .footer-logo__mobile {
    display: none; }
    @media (max-width: 575.98px) {
      .footer-logo__mobile {
        display: block; } }
  .footer-address {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media (max-width: 575.98px) {
      .footer-address {
        text-align: center; } }
    .footer-address p {
      margin: 0;
      font-family: 'Gotham Pro Light', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
      font-size: 16px;
      color: #ffffff;
      padding: 0 30px; }
      @media (max-width: 575.98px) {
        .footer-address p {
          flex-basis: 100%; } }
      .footer-address p:nth-child(1) {
        border-right: 2px solid #f01928; }
        @media (max-width: 575.98px) {
          .footer-address p:nth-child(1) {
            border-right: none; } }
      .footer-address p a {
        font: inherit;
        color: inherit;
        text-decoration: none; }
  @media (max-width: 1199.98px) {
    .footer-copyrights {
      margin-bottom: 20px; } }
  .footer-copyrights span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #606060; }
  @media (max-width: 1199.98px) {
    .footer-button {
      display: none; } }
