.about {
    background: url(../img/main/services_bg.jpg) center no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;

    &-header {


        h1 {
            margin-bottom: 50px;
            margin-top: 0;
        }
    }

    &-slider {
        &__image {
            img {
                max-width: 100%;
                height: auto;
            }
        }

        &__text {
            h2 {
                margin: 0;
                margin-bottom: 16px;

                font-family: 'Gotham Pro Black', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
                font-size: 22;
                text-transform: uppercase;
                color: #f01928;
            }

            p {
                margin: 0;
                
                font-family: 'Gotham Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
                font-size: 16px;
                color: #606060;
            }
        }

        &-controls {
            margin-top: 50px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            position: relative;

            &__arrow {
                position: relative;
                display: block;

                height: 43px;
                width: 43px;
                border: none;
                background-color: transparent;
                color: transparent;

                font-size: 6px;

                padding: 0;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 43px;
                    height: 43px;

                    border: 2px solid #8a8f93;
                    border-radius: 50%;

                    background-color: transparent;
                    cursor: pointer;
                }

                span {
                    position: relative;
                    display: block;
                    &::before, &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 14px;
                        height: 2px;
                        background-color: #8a8f93;
                    }

                    &::before {
                        top: -13px;
                        left: 50%;
                        transform: translateX(-50%) rotate(-45deg);
                    }
                    &::after {
                        top: -3px;
                        left: 50%;
                        transform: translateX(-50%) rotate(45deg);
                    }
                }
            }
            &__pointer {
                display: flex;
                flex-direction: column;
                justify-content: center;

                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                &:hover, &:focus {
                    circle {
                        stroke: #f01928;
                    }
                }
            }
        }
    }  
}

.arrow--right {
    span {
        &::before {
            transform: translateX(-50%) rotate(45deg);
        }
        &::after {
            transform: translateX(-50%) rotate(-45deg);
        }
    }
}



.pointer--2010 {
    left: 14%;
}

.pointer--2011 {
    left: 22%;
}

.pointer--2012 {
    left: 30%;
}

.pointer--2016 {
    left: 59%;
}

.pointer--2018 {
    left: 76%;
}

.pointer--2020 {
    left: 87%;
}

.pointer--2021 {
    left: 93%;
}








.tour {
    border-top: 10px solid #f01928;
    border-bottom: 10px solid #f01928;

    background: url(../img/about/tour.jpg) center no-repeat;
    background-size: cover;

    min-height: 478px;

    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    button {
        margin-bottom: -10px;
        box-shadow: 0px 0px 16.92px 1.08px rgba(34, 31, 31, 0.85);
    }
}