//VARS
$xs: (max-width: 575.98px);
$sm: (min-width: 576px) and (max-width: 767.98px);
$md: (min-width: 768px) and (max-width: 970.98px);
$lg: (min-width: 971px) and (max-width: 1199.98px);
$xl: (min-width: 1200px);


.slide {
    position: relative;

    height: 750px;

    @media #{$xs} {
        height: 420px;
    }

    &-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    &-info {
        position: relative;
        z-index: 1;

        padding-left: 60px;

        height: 100%;

        @media #{$xs} {
            padding-left: 0;

            min-height: 413px;
        }

        &-title {
            margin: 0;
            padding: 0;
            padding-top: 90px;

            font-family: 'Gotham Pro Bold', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
            font-size: 140px;
            line-height: 0.984;
            letter-spacing: -10px;
            color: #f01928;
            text-transform: uppercase;
            text-shadow: 8.918px 8.03px 1px rgba(34, 31, 31, 0.36);

            max-width: 704px;

            @media #{$lg} {
                font-size: 120px;
                padding-top: 70px;
                letter-spacing: 0;
            }

            @media #{$sm} {
                font-size: 65px;
                max-width: 320px;
            }

            @media #{$xs} {
                max-width: 100%;
            }
        }
        &-subtitle {
            margin: 0;
            padding: 0;
            padding-left: 10px;
            margin-top: 45px;

            color: #ffffff;
            font-family: 'Gotham Pro Bold', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
            font-size: 20px;

            max-width: 350px;

            @media #{$xs} {
                padding-left: 0;

                max-width: 100%;
            }

            a {
                text-decoration: none;
                color: #f01928;
            }
        }
        &-button {
            margin-top: 75px;
            margin-left: 10px;
            margin-bottom: 115px;

            width: 352px;
            height: 57px;

            background-color: #f01928;
            box-shadow:0 6px 0 rgb(202, 13, 26);

            cursor: pointer;

            @media #{$xs} {
                display: none;
            }
        }
    }
}



.slide--runner {
    background: url(../img/main/landing-slider-img.jpg) center no-repeat;
    background-size: cover;

    @media #{$xs} {
        background-position: -400px;
    }
}