@import 'fonts.scss';
@import 'slide.scss';
@import 'service.scss';
@import 'landing-slider-btn.scss';

// MIXINS
@mixin gotham-regular {
    font-family: 'Gotham Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}
@mixin gotham-light {
    font-family: 'Gotham Pro Light', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}
@mixin gotham-medium {
    font-family: 'Gotham Pro Medium', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}
@mixin gotham-bold {
    font-family: 'Gotham Pro Bold', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}
@mixin gotham-black {
    font-family: 'Gotham Pro Black', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}


//VARS
$xs: (max-width: 575.98px);
$sm: (min-width: 576px) and (max-width: 767.98px);
$md: (min-width: 768px) and (max-width: 970.98px);
$lg: (min-width: 971px) and (max-width: 1199.98px);
$xl: (min-width: 1200px);



body {
    background-color: #dedede;
}

.container {
    max-width: 1140px;

    padding: 0 15px;
    margin: 0 auto;
}

.main-button {
    border: none;
    border-radius: 25px;
    color: #ffffff;
    @include gotham-medium();
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(34, 31, 31, 0.75);

    background-color: #f01928;
    box-shadow:0 6px 0 rgb(202, 13, 26);

    &:hover, &:focus {
        background-color: #630460;
        box-shadow:0 6px 0 #41033f;
    }
}

.alt-button {
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    color: #ffffff;
    @include gotham-medium();
    font-size: 22px;
    text-shadow: 0px 1px 1px rgba(34, 31, 31, 0.75);

    width: 276px;
    height: 60px;
    background-color: #f01928;

    &:hover, &:focus {
        background-color: #630460;
    }
}



.header {
    background: url(../img/main/header_bg.png) center no-repeat;
    background-color: #dedede;

    position: relative;
    z-index: 5;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 25px;
        padding-bottom: 25px;

        @media #{$xs} {
            justify-content: center;
        }
    }

    &-logo {
        max-width: 432px;

        &__desktop {
            width: 100%;

            @media #{$sm} {
                display: none;
            }
        }
        &__mobile {
            display: none;

            @media #{$sm} {
                display: block;
                width: 100%;
            }
        }
    }

    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-left: 50px;

        @media #{$xs} {
            display: none;
        }

        &-schedule {
            flex-shrink: 0;

            @include gotham-bold();
            font-size: 22px;
            text-transform: uppercase;
            color: #8a8f93;
    
            position: relative;

            @media #{$lg} {
                font-size: 20px;
            }

            @media #{$md} {
                font-size: 18px;
            }
    
            p {
                margin: 0;
                padding: 0;
    
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -105px;
                    height: 3px;
                    width: 85px;
                    background-color: #f01928;
    
                    transform: rotate(-60deg);

                    @media #{$lg} {
                        left: -75px;
                    }
                }
    
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -85px;
                    height: 3px;
                    width: 85px;
                    background-color: #f01928;
    
                    transform: rotate(-60deg);

                    @media #{$lg} {
                        right: -50px;
                    }
                }
            }
    
            
        }
    
        &-phone {
            @include gotham-bold();
            font-size: 22px;
            text-transform: uppercase;
            color: #8a8f93;
            text-align: right;

            margin-left: 70px;

            @media #{$lg} {
                font-size: 20px;
            }

            @media #{$md} {
                margin-left: 30px;
                font-size: 18px;
            }
    
            p {
                margin: 0;
                padding: 0;
            }
    
            a {
                text-decoration: none;
                color: #f01928;
    
                font-size: 35px;

                @media #{$lg} {
                    font-size: 28px;
                }

                @media #{$md} {
                    font-size: 22px;
                }
            }
        }
    }

    &-mobile-menu {
        display: none;
        position: relative;

        @media #{$md, $sm, $xs} {
            display: block;
        }

        @media #{$xs} {
            position: absolute;
            left: 15px;
        }

        button {
            position: relative;
            z-index: 2;

            width: 51px;
            height: 43px;

            border: none;
            color: transparent;
            background-color: transparent;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;

                height: 9px;
                width: 51px;
                background-color: #8a8f93;
                border-radius: 3px;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;

                height: 9px;
                width: 51px;
                background-color: #8a8f93;
                border-radius: 3px;
            }
        }
        span {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: -51px;
                top: 10px;

                height: 9px;
                width: 51px;
                background-color: #8a8f93;
                border-radius: 3px;
            }
        }
    }

    &-mobile-menu--active {
        button {
            &::before {
            background-color: #f01928;
            }

            &::after {
            background-color: #f01928;
            }
        }
        span {
             &::before {
                background-color: #f01928;
            }
        }
    }
}


.nav {
    display: block;
    background-color: #dedede;

    @media #{$md, $sm, $xs} {
        display: none;
        height: 0;

        position: absolute;
        width: 100%;
        z-index: 2;

        background: url(../img/main/header_bg.png) center no-repeat;
        background-size: cover;
        background-color: #dedede;
    }

    &--active {
        display: block;
        height: 259px;
    }

    &-menu {
    
        ul {
            display: flex;
            justify-content: space-between;
    
            list-style: none;
    
            padding: 0;
            margin: 0;

            @media #{$md, $sm, $xs} {
                flex-direction: column;
            }
    
            li {
    
                text-align: center;

                cursor: pointer;

                @media #{$md, $sm, $xs} {
                    cursor: auto;
                    text-align: left;

                    border-bottom: 1px solid #8a8f93;

                    &:last-child {
                        border: none;
                    }
                } 

                a {
                    display: inline-block;
                    @include gotham-medium();
                    text-decoration: none;
                    color: #8a8f93;
                    font-size: 16px;
                    text-transform: uppercase;
                    padding: 24px 20px;

                    @media #{$lg} {
                        font-size: 14px;
                        padding: 24px 16px;
                    }
                    @media #{$md, $sm, $xs} {
                        padding: 10px 10px;

                        width: 100%;

                        cursor: default;
                    }
                }
    
                &:hover {
                    background-color: #f01928;

                    @media #{$md, $sm, $xs} {
                        background-color: transparent;
                    }

                    a {
                        color: #ffffff;

                        @media #{$md, $sm, $xs} {
                            color: #f01928;
                        }
                    }
                }
            }
        }
    }
}



.landing {
    &-slider {
        position: relative;
    }
}

.slick-dots {
    bottom: 20px;
    cursor: pointer;
    z-index: 2;

    li {
        background-color: transparent;
        border-radius: 50%;
        border: 2px solid #ffffff;
        height: 12px;
        width: 12px;
    }
    button {
        cursor: none;
    }
}

.slick-dots li button:before {
color: #ffffff;
height: 12px;
width: 12px;
font-size: 0;
}

.slick-dots li.slick-active button:before {
color: #ffffff;
background-color: #ffffff;
}



.services {
    background: url(../img/main/services_bg.jpg) center no-repeat;
    background-size: cover;

    padding-top: 48px;
    padding-bottom: 50px;

    margin-top: -20px;

    @media #{$xs} {
        padding-top: 0;
        padding-bottom: 0;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: -30px;
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;

        @media #{$sm} {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &-left {
        flex-basis: 50%;
        margin-right: 15px;
        position: relative;

        @media #{$sm} {
            flex-basis: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }
        @media #{$xs} {
            margin-bottom: 0;
        }
    }

    &-right {
        flex-basis: 50%;
        margin-left: 15px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media #{$sm} {
            flex-basis: 100%;
            margin-left: 0;
        }

        &-top {
            display: flex;
            justify-content: space-between;

            flex-basis: 50%;
            margin-bottom: 15px;

            @media #{$sm} {
                flex-basis: 100%;
                margin-right: 0;
                margin-bottom: 20px;
            }

            @media #{$xs} {
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 0;
            }
        }
        &-bottom {
            flex-basis: 50%;
            margin-top: 15px;

            @media #{$sm} {
                flex-basis: 100%;
                margin-top: 0;
            }
        }
    }
}



.features {
    padding-top: 40px;

    background: url(../img/main/features_bg.jpg) center no-repeat;
    background-size: cover;

    position: relative;

    &-wrapper {
        display: flex;
        justify-content: flex-end;

        position: relative;
    }

    &-frame {
        position: absolute;

        right: 15px;
        top: -25px;

        user-select: none;

        img {
            width: 680px;
            height: 625px;
        }

        @media #{$lg} {
            img {
                height: 760px;
                width: 570px;
            }
        }

        @media #{$sm} {
            img {
                height: 890px;
                width: 500px;
            }
        }

        @media #{$xs} {
            display: none;
        }
    }
    &-underlay {
        position: absolute;
        z-index: 0;
        top: -80px;
        right: 40px;

        user-select: none;

        @media #{$xs} {
            right: 0;
            
            img {
                width: 320px;
            }
        }
    }

    &__header {
        margin: 0;
        margin-bottom: 70px;

        text-align: center;
        @include gotham-bold();
        font-size: 31px;
        text-transform: uppercase;

        position: relative;

        @media #{$xs} {
            margin-bottom: 0px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);

            height: 6px;
            width: 96px;
            background-color: #f01928;
        }
    }

    &-content {
        margin-bottom: 60px;

        @media #{$xs} {
            max-width: 100%;
        }

        &__item {
            position: relative;
            max-width: 520px;

            right: 18px;

            &:nth-child(2) {
                right: 65px;

                @media #{$xs} {
                    right: 0;
                }
            }
            &:nth-child(1) {
                right: 90px;

                @media #{$xs} {
                    right: 0;
                }
            }

            @media #{$lg} {
                max-width: 420px;
            }

            @media #{$sm} {
                max-width: 350px;
            }

            @media #{$xs} {
                max-width: 100%;
                right: 0;

                text-align: center;
            }
    
            h3 {
                margin: 0;
                margin-bottom: 12px;
    
                @include gotham-black();
                font-size: 21px;
                text-transform: uppercase;
                line-height: 1.2;
                color: #f01928;

                @media #{$xs} {
                    margin-top: 160px;
                    font-size: 20px;
                }
            }     
    
            p {
                margin: 0;
                margin-bottom: 20px;
    
                @include gotham-regular();
                font-size: 16px;
                line-height: 1.2;
                color: #606060;
                letter-spacing: 0.5px;
            }         

        }
    }
}

.feature--medal {
    h3 {
        &::before {
            content: '';
            position: absolute;
            left: -124px;
            top: 9px;

            width: 100px;
            height: 100px;

            background: url(../img/main/features/medal.png) center no-repeat;

            @media #{$xs} {
                left: 50%;
                transform: translateX(-50%);
                top: -120px;
            }
        }
    }
}

.feature--notepad {
    h3 {
        &::before {
            content: '';
            position: absolute;
            left: -113px;
            top: 9px;

            width: 100px;
            height: 100px;

            background: url(../img/main/features/notepad.png) center no-repeat;

            @media #{$xs} {
                left: 50%;
                transform: translateX(-50%);
                top: -120px;
            }
        }
    }
}

.feature--strength {
    h3 {
        &::before {
            content: '';
            position: absolute;
            left: -121px;
            top: 10px;

            width: 100px;
            height: 100px;

            background: url(../img/main/features/strength.png) center no-repeat;

            @media #{$xs} {
                left: 50%;
                transform: translateX(-50%);
                top: -120px;
            }
        }
    }
}



.news {
    padding-top: 42px;

    background: url(../img/main/news/news_bg.jpg) top no-repeat;
    background-size: cover;

    position: relative;

    &-logo-overlay {
        position: absolute;

        top: -117px;
        right: 0;
        opacity: 0.17;

        user-select: none;

        @media #{$lg} {
            top: -90px;

            img {
                height: 180px;
            }
        }

        @media #{$md} {
            top: -70px;

            img {
                height: 140px;
            }
        }

        @media #{$sm} {
            top: -50px;

            img {
                height: 100px;
            }
        }

        @media #{$xs} {
            display: none;
        }
    }

    &__header {
        margin: 0;
        margin-bottom: 48px;

        text-align: center;
        @include gotham-bold();
        font-size: 31px;
        text-transform: uppercase;

        position: relative;
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);

            height: 6px;
            width: 96px;
            background-color: #f01928;
        }
    }

    &-wrapper {
        max-width: 1005px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
    }

    &-item {
        padding-bottom: 30px;

        display: flex;
        justify-content: center;

        position: relative;

        @media #{$xs} {
            flex-wrap: wrap;

            border: 2px solid #8a8f93;

            padding-bottom: 15px;
            margin-bottom: 30px;
        }

        &__img {
            flex-basis: 50%;

            max-width: 100%;

            position: relative;

            @media #{$xs} {
                flex-basis: 100%;

                border-bottom: 2px solid #8a8f93;

                order: -2;
            }

            img {
                object-fit: cover;
                object-position: center;

                max-width: 100%;
                min-height: 100%;

                border: 2px solid #8a8f93;

                &:hover {
                    border: 2px solid #630460;
                }

                @media #{$xs} {
                    border: none;
                    width: 100%;

                    &:hover {
                        border: none;
                    }
                }
            }
        }
        &__separator {
            flex-shrink: 0;
            display: flex;
            margin-bottom: -30px;

            @media #{$xs} {
                display: none;
            }

            &-left {
                width: 39px;
                height: 100%;
            }
            &-right {
                width: 39px;
                height: 100%;
                border-left: 2px solid #8a8f93;
            }
        }
        &__description {
            flex-basis: 50%;
            flex-shrink: 1;

            @media #{$xs} {
                flex-basis: 100%;
            }

            &:nth-child(1) {
                text-align: right;

                @media #{$xs} {
                    text-align: left;
                }
            }

            &--desktop {
                display: inline-block;
                margin-bottom: 10px;


                @include gotham-black();
                text-transform: uppercase;
                font-size: 21px;
                color: #f01928;
                text-decoration: none;

                @media #{$xs} {
                    display: block;
                    border-top: 2px solid #8a8f93;

                    padding: 10px;
                }

                &:hover {
                    cursor: pointer;

                    color: #630460;
                    text-decoration: underline;
                }
            }

            &--mobile {
                margin-top: 15px;
                margin-right: 15px;

                text-align: right;
                @include gotham-bold();
                font-size: 18px;
                color: #474747;
                text-transform: uppercase;

                @media #{$xl, $lg, $md, $sm} {
                    display: none;
                }

                @media #{$xs} {
                    display: block;
                }

                &:hover {
                    color: #630460;
                }
            }

            p {
                margin: 0;
                @include gotham-regular();
                font-size: 16px;
                color: #606060;

                @media #{$xs} {
                    padding: 10px;
                }
            }

            span {
                @include gotham-light();
                font-size: 14px;
                color: #474747;

                @media #{$xs} {
                    display: inline-block;

                    padding: 10px;
                }
            }
        }
        &__pointer {
            position: absolute;
            z-index: 5;

            top: 0px;
            left: 50%;
            transform: translateX(-9px);

            @media #{$xs} {
                display: none;
            }
        }
    }

    &-finisher {
        margin: 0 auto;

        margin-bottom: 50px;

        @media #{$xs} {
            display: none;
        }
    }
}

.--pointer-selected {
    top: 17px;
    circle {
        fill: #630460;
        stroke: #630460;
    }
}



.footer {
    min-height: 416px;

    background: url(../img/main/footer/footer_bg.jpg) center no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &-header {
        margin-top: 50px;

        color: #ffffff;
        @include gotham-medium();
        font-size: 18px;
    }
    &-social {
        min-width: 546px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media #{$xs} {
            min-width: 320px;
            padding-left: 15px;
            padding-right: 15px;
            flex-wrap: wrap;
        }

        a {
            display: inline-block;
            text-decoration: none;
            width: 52px;
            height: 52px;
            border-radius: 50%;

            position: relative;

            @media #{$xs} {
                flex-basis: 25%;
                margin-bottom: 15px;
            }

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);

                width: 52px;
                height: 52px;

                path {
                    fill: #606060;
                }
                polygon {
                    fill: #606060;
                }

                &:hover {
                    path {
                        fill: #f01928;
                    }
                    polygon {
                        fill: #f01928;
                    }
                }
            }
        }
    }
    &-logo {
        &__desktop {
            @media #{$xs} {
                display: none;
            }
        }
        &__mobile {
            display: none;

            @media #{$xs} {
                display: block;
            }
        }
    }
    &-address {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media #{$xs} {
            text-align: center;
        }

        p {
            margin: 0;
            @include gotham-light();
            font-size: 16px;
            color: #ffffff;
            padding: 0 30px;

            @media #{$xs} {
                flex-basis: 100%;
            }

            &:nth-child(1) {
                border-right: 2px solid #f01928;

                @media #{$xs} {
                    border-right: none;
                }
            }

            a {
                font: inherit;
                color: inherit;
                text-decoration: none;
            }
        }
    }
    &-copyrights {
        @media #{$lg} {
            margin-bottom: 20px;
        }

        span {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            color: #606060;
        }
    }

    &-button {
        @media #{$lg} {
            display: none;
        }
    }
}